language: python
python: "3.8"
install:
    - pipenv install --dev
script:
    - pipenv run python -m coverage run --source='.' -m pytest && pipenv run pylint -E --load-plugins pylint_django frisky learns memes plugins scores slack votes
after_success:
    - pip install codecov
    - codecov
branches:
    only:
        - main
