[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
responses = "*"
pytest = "*"
pytest-django = "*"
pylint = "*"
pylint-django = "*"

[packages]
django = "==3.1.8"
gunicorn = "*"
requests = "~=2.22"
celery = "~=4.4"
redis = "==3.3.11"
dataclasses-json = "~=0.3"
markovify = "~=0.8"
pyjwt = "~=1.7"
django-on-heroku = "==1.1.2"

[requires]
python_version = "3.9"
